body {
	background-color: #acadbc;
	background-color: #345995;
	background-color: #eef0f2;
	color: #eac435;
	color: #846a6a;
	color: #DEE2E6;
	color: #ADB5BD;
	color: #495057;
	font-family: 'Trebuchet MS';
	 /* , 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
	height: 100%;
	/* color: #FB4D3D; */
}

.background {
	/* background-image: url('/notekar-homepage.jpg'); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	min-height: 100vh;

	/* filter: blur(2px);
	-webkit-filter: blur(2px); */
}

.layout {
	/* position: absolute; */
	/* z-index: 2; */
	/* top: 50%;
	left: 50%; */
	/* transform: translate(-50%, -50%); */
	max-width: 750px;
	margin: 0 auto;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.65);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.1px);
	-webkit-backdrop-filter: blur(4.1px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 2em;
}

/* 
<uniquifier>: Use a uniquifier for the class name 

<weight>: Use a value from 100 to 900
*/

/* .bebas-neue-regular {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	letter-spacing: 0.15em;
	font-style: normal;
}

.bebas-neue-regular h3 {
	letter-spacing: 0.15em;
} */

a {
	color: #846a6a;
	padding: 4px 2px;
	max-width: auto;
}

.nav {
	padding: 16px;
	text-align: center;
	/* width: 900px; */
	margin: 0 auto;
}

.nav a {
	text-decoration: none;
}

.body-layout {
	/* border: 0.75em solid black; */
	border-radius: 4em;
	/* min-width: 300px;
	width: 50%;
	min-height: 500px;
	height: 100%; */
	/* padding: 2em; */
	font-size: 1.25em;
	margin: 0 auto;
}

.title {
	text-align: left;
	margin: 0;
}

h1,
h2,
h3,
h4,
p {
	margin: 8px 0;
}

.base-button {
	background-color: #846a6a;
	background-color: #495057;
	color: #eef0f2;
	/* border-color: #846a6a; */
	padding: 4px 8px;
	margin: 0 2px;
	border-radius: 4px;
}

.base-button:disabled {
	opacity: 0.7;
}

.over-button {
	background-color: black;
	color: white;
	padding: 4px 8px;
	margin: 0 2px;
	border-radius: 4px;
}

.over-custom-input {
	padding: 4px 8px;
	border-radius: 4px;
}

.over-input {
	padding: 8px;
	border: 1px solid black;
	width: 60px;
}

.center {
	margin: 0 1em;
	/* width: 400px; */
}

.text-center {
	text-align: center;
}

.each-ball {
	/* padding: 16px; */
	/* border: 1px solid gray; */
	border-radius: 4px;
	/* width: 00px; */
	margin: 1em 0;
}

.current-ball {
	background-color: #846a6a;
	color: #eef0f2;
}

.each-ball-layout {
	/* padding: 8px; */
	justify-content: center;
}

.each-ball-button {
	padding: 8px;
	height: 100px;
	background-color: transparent;
	border: 1px solid #846a6a;
	/* border-radius: 4px; */
}

footer {
	text-align: center;
}
